html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 10px;

  @include breakpoint($medium) {
    font-size: 12px;
  }

  @include breakpoint($large) {
    font-size: 12px;
  }

  @include breakpoint($x-large) {
    font-size: 12px;
  }

  -webkit-text-size-adjust: 50%;
  -ms-text-size-adjust: 50%;
}
